h2 {
  text-align: center;
}


.all {
  display: flex;
  justify-content: center;
  background: yellow;
  padding: 10px;

}



img {
  width: 50px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 5px;
  margin-right: 10px;

}


.out {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background: darkviolet;
  color: white;
  margin: 20px 0px;
}

.both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.both img {
  border: 1px solid white;
  background: black;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px 0px;
}


button {
  background: black;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 10px;

}